.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.telinha {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
}

.botao {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
